#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
  text-align: center;
}


.cardStyle{
display: flex;
flex-direction: column;
background-color: #ffcc86;
border-radius: 30px;
padding: 1rem;
height: 54vh;
width: 20vw;

}

.GameInterfaceStyle {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 40px;
  row-gap: 20px;
  grid-template-rows: auto;
  margin-top: 70px;

}
/* for smaller screens */
@media screen and (max-width: 500px) {
  .GameInterfaceStyle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px; 
    row-gap: 20px; 
   
  }

}
@media screen and (max-width: 768px) {
  .GameInterfaceStyle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px; 
    row-gap: 20px; 
   
  }
  .cardStyle{
    padding: 1rem;
    height: 48vh;
    width: 30vw;
  }

}

@media screen and (max-width : 476px) and (max-width: 978px){
  .cardStyle{
    padding: 1rem;
    height: 40vh;
    width: 30vw;

  }
}

.loginForm {
display: flex;
align-items: center;
background-size:contain;
background-position: center;
background-repeat: no-repeat;
background-image: url("KittensImage.jpeg");
height: 100vh;
width: 95vw;

}
@media screen and (max-width: 476px) and (max-width: 978px) {
  .loginForm {
    display: flex;
    align-items: center;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("KittensImage.jpeg");
    height: 100vh;
    width: 95vw;
    
    }
}

.loginForm form{
 
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
   grid-template-rows: repeat(2 , 1fr);
   font-size: x-large;
   font-weight: bolder;
   z-index: 2;
   margin-left: 55vw;
   margin-top: 40vh;
   background-color:	rgb(122, 31, 31 , 0.8);
   padding: 2%;
   border-radius: 15px;
   box-shadow:2px 2px 6px 0 black;

 }
 @media screen and (max-width: 476px) and (max-width: 978px) {
  .loginForm  form{
      display: grid;
   grid-template-columns: repeat(2 , 1fr);
   grid-template-rows: repeat(2 , 1fr);
   margin-left: 25vw;
   margin-top: 20vh;
    
    }
}


 .loginForm input{
  border-radius: 5px;
  height: 40px;
  width: auto;
  z-index:3;
  
  }
  
  @media screen and (max-width: 476px)  {
    .loginForm  input{
      display: flex;
      height: 20px;
      width: auto;
      
      }
      .loginForm  label{
        font-size: 1.3rem;
       
       }
  
  }
  
  .navbar {
    position: fixed;
    top: 2% ;
    left: 40%;
    background-color:	rgb(122, 31, 31 , 0.8);
    border-radius: 15px;
    padding: 0.5%;
    box-shadow:2px 2px 6px 0 black ;
  }

.modal {
  z-index: 100;
  margin-left: 10%;
  position: absolute;
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color:	rgb(122, 31, 31 );
  padding: 2%;
  border-radius: 10px;
  box-shadow:2px 2px 6px 0 black ;
  width: 70vw;
}
